<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container d-flex justify-content-between">
    <a href="/dashboard" class="navbar-brand d-flex align-items-center">
      <strong>RobotEx</strong>
    </a>

    <div class="btn-group mr-2">
      <button
        class="btn btn-outline-primary"
        type="button"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="clickBackDashboard()"
      >
        Dashboard
      </button>

      <button
        class="btn btn-outline-danger"
        type="button"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="apiService.SignOut()"
      >
        <i class="fas fa-sign-out-alt"></i>Log out
      </button>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky"></div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
      <div class="inner-adjust">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">User Profile</h1>
        </div>
        <!-- Show user data when logged in -->
        <div class="row" *ngIf="apiService.userData as user">
          <div class="col-md-12">
            <div class="media">
              <img
                class="align-self-start mr-5 img-thumbnail rounded-circle"
                src="{{
                  user.photoURL ? user.photoURL : '/assets/dummy-user.png'
                }}"
                alt="{{ user.displayName }}"
              />
              <div class="media-body">
                <h1>
                  Hello:
                  <strong>{{
                    user.displayName ? user.displayName : "User"
                  }}</strong>
                </h1>
                <p>
                  User ID: <strong>{{ user.uid }}</strong>
                </p>
                <p>
                  Email: <strong>{{ user.email }}</strong>
                </p>
                <p>
                  Email Verified: <strong>{{ user.emailVerified }}</strong>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
