<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container d-flex justify-content-between">
    <a href="/dashboard" class="navbar-brand d-flex align-items-center">
      <strong>RobotEx</strong>
    </a>

    <div class="btn-group mr-2">
      <button
        class="btn btn-outline-primary"
        type="button"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="clickViewUser()"
      >
        <i class="fas fa-user"></i> User Profile
      </button>

      <button
        class="btn btn-outline-danger"
        type="button"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="apiService.SignOut()"
      >
        <i class="fas fa-sign-out-alt"></i>Log out
      </button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <nav
      id="sidebarMenu"
      class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
    >
      <div class="sidebar-sticky pt-3">
        <h6
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <span>TESTCASE</span>
          <a
            class="d-flex align-items-center text-muted"
            aria-label="Add a new report"
          >
            <svg
              (click)="viewInputUploadT()"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-plus-circle"

            >
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="12" y1="8" x2="12" y2="16"></line>
              <line x1="8" y1="12" x2="16" y2="12"></line>
            </svg>
          </a>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">

            <a
              class="nav-link btn float-left"
              *ngFor="let test_item of testFilesShow"
              (click)="clickViewTestCase(test_item.file)"
              data-toggle="tooltip"
              data-placement="right"
              title= "{{test_item.file}}"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-file-text"
              >
                <path
                  d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                  *ngIf= test_item.name
                >
              </path>

                <polyline points="14 2 14 8 20 8" *ngIf= test_item.name ></polyline>
                <line x1="16" y1="13" x2="8" y2="13" *ngIf= test_item.name ></line>
                <line x1="16" y1="17" x2="8" y2="17" *ngIf= test_item.name></line>
                <polyline points="10 9 9 9 8 9" *ngIf= test_item.name></polyline>
              </svg>
              {{ test_item.name }}
            </a>
          </li>
        </ul>
      </div>

      <div class="sidebar-sticky pt-3">
        <h6
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <span>SUMMARY REPORT</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">
            <a
              class="nav-link btn float-left"
              (click)="clickViewSummary()"
              target="_blank"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-file-text"
              >
                <path
                  d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"
                ></path>
                <polyline points="14 2 14 8 20 8"></polyline>
                <line x1="16" y1="13" x2="8" y2="13"></line>
                <line x1="16" y1="17" x2="8" y2="17"></line>
                <polyline points="10 9 9 9 8 9"></polyline>
              </svg>
              SUMMARY
            </a>
          </li>
        </ul>
      </div>
      <div class="sidebar-sticky pt-3">
        <h6
          class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted"
        >
          <span>OUTPUT</span>
        </h6>
        <ul class="nav flex-column mb-2">
          <li class="nav-item">

            <a
              class="nav-link btn float-left"
              *ngFor="let output_item of OutputFilesShow"
              (click)="clickViewOutput(output_item.file)"
              data-toggle="tooltip"
              data-placement="right"
              title= "{{ output_item.file }}"

            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-file-text"
              >
                <path
                  d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z" *ngIf= output_item.name
                ></path>
                <polyline points="14 2 14 8 20 8" *ngIf= output_item.name></polyline>
                <line x1="16" y1="13" x2="8" y2="13" *ngIf= output_item.name></line>
                <line x1="16" y1="17" x2="8" y2="17" *ngIf= output_item.name></line>
                <polyline points="10 9 9 9 8 9" *ngIf= output_item.name></polyline>
              </svg>
              {{ output_item.name }}
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4" >
      <div
        class="chartjs-size-monitor"
        style="
          position: absolute;
          left: 0px;
          top: 0px;
          right: 0px;
          bottom: 0px;
          overflow: hidden;
          pointer-events: none;
          visibility: hidden;
          z-index: -1;
        "
      >
        <div
          class="chartjs-size-monitor-expand"
          style="
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1;
          "
        >
          <div
            style="
              position: absolute;
              width: 1000000px;
              height: 1000000px;
              left: 0;
              top: 0;
            "
          ></div>
        </div>
        <div
          class="chartjs-size-monitor-shrink"
          style="
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            overflow: hidden;
            pointer-events: none;
            visibility: hidden;
            z-index: -1;
          "
        >
          <div
            style="
              position: absolute;
              width: 200%;
              height: 200%;
              left: 0;
              top: 0;
            "
          ></div>
        </div>
      </div>

      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">

        <h3 class="h3" >{{ Filename }}</h3>
        <div class="btn-toolbar mb-2 mb-md-0">

          <div class="btn-group mr-2">
            <button
              id="edit"
              type="button"
              class="btn btn-warning"
              (click)="clickEditTestCase(Filename)"
            >
              EDIT
            </button>
          </div>
          <div class="btn-group mr-2">
            <button
              id="remove"
              type="button"
              class="btn btn-danger"
              (click)="removeFileData(typeFile, Filename)"
            >
              REMOVE
            </button>
          </div>
          <div class="btn-group mr-2">
            <button
              id="run"
              type="button"
              class="btn btn-success"
              (click)="executTest(Filename)"
            >
              RUN
            </button>
          </div>
           <div class="btn-group mr-2">
            <button
              id="save"
              type="button"
              class="btn btn-success"
              (click)="clickSave(typeFile, Filename, txet.value)"
            >
              SAVE
            </button>
          </div>

        </div>

      </div>

      <input
        id="fileuploadT"
        type="file"
        accept=".robot"
        ng2FileSelect
        [uploader]="uploaderT"
        #fileInput
        multiple
      />
      <input
        id="fileuploadE"
        type="file"
        accept=".xlsx"
        ng2FileSelect
        [uploader]="uploaderE"
        #fileInput
        multiple
      />
      <div id="view"></div>
      <form [formGroup]="productForm" novalidate >
        <script> src ="/socker.io/socker.io.js"</script>
        <script>
          $(() => {
            var socket = io();
            socket.on ('view', (msg)=>{
              $('#messages').append($().text(msg));
            })
          });
        </script>
        <textarea
          id="editview"
          rows="30"
          cols="120"
          name="txet"
          formControlName="txet"
          #txet
          [(ngModel)]="product.text"
          >{{ Messages }}</textarea
        >
      </form>
    </main>
  </div>
</div>
