<div class="navbar navbar-dark bg-dark shadow-sm">
  <div class="container d-flex justify-content-between">
    <a href="/dashboard" class="navbar-brand d-flex align-items-center">
      <strong>RobotEx</strong>
    </a>

    <div class="btn-group mr-2">
      <button
        class="btn btn-outline-primary"
        type="button"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="clickBackDashboard()"
      >
        Dashboard
      </button>

      <button
        class="btn btn-outline-danger"
        type="button"
        aria-expanded="false"
        aria-label="Toggle navigation"
        (click)="apiService.SignOut()"
      >
        <i class="fas fa-sign-out-alt"></i>Log out
      </button>
    </div>
  </div>


  <!-- <iframe frameborder="0" style="width: 100%;height: 100vh;" src="http://35.192.140.231:81/index.html"></iframe> -->

</div>

