
<!DOCTYPE html>
<html>
  <head>
  <title>Centre Things</title>

</head>
<body>
  <br>
  <br>
  <br>
  <br>
</body>

<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header text-center text-white bg-dark">
        Thank You for Registering
      </div>
      <div class="card-header text-center">
        <div class="formGroup" *ngIf="apiService.userData as user">
          <p class="text-center">
            We have sent a confirmation email to

            <strong>{{ user.email }}</strong
            >.
          </p>
          <p class="text-center">
            Please check your email and click on the link to verfiy your email
            address.
          </p>
        </div>

        <div class="formGroup">
          <button
            type="button"
            class="btn btnPrimary"
            (click)="apiService.SendVerificationMail()"
          >
            <i class="fas fa-redo-alt"></i>
            <a href> Resend Verification Email </a>
          </button>
        </div>

      </div>
    </div>
    <a href routerLink="/sign-in" (click)="apiService.SignOut"> Go back to Sign in ? </a>

  </div>
</div>
</html>
