
<!DOCTYPE html>
<html>
  <head>
  <title>Centre Things</title>

</head>
<body>
  <br>
  <br>
  <br>
  <br>
</body>

<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="card-header text-center text-white bg-dark">
        Reset Password
      </div>


      <div class="card-header">
        <p class="text-center">
        Please enter your email address to request a password reset.
      </p>
      <br>
      <div class="form-group">
        <div class="text-center">
          <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          placeholder="Enter email"
          #passwordResetEmail
          required
          />
        </div>
        <br>
        <div class="text-center">
          <button
            type="submit"
            class="btn btn-success"
            value="Reset Password"
            (click)="apiService.ForgotPassword(passwordResetEmail.value)"
          >Reset Password
        </button>
        </div>
      </div>
    </div>
    </div>

    <a href routerLink="/sign-in"> Go back to Sign in ? </a>
  </div>
</div>
</html>

