
<!DOCTYPE html>
<html>
  <head>
  <title>Centre Things</title>

</head>
<body>
  <br>
  <br>
  <br>
  <br>
</body>

<div class="row justify-content-center">
  <div class="col-md-4">
    <div class="card">
      <div class="authBlock">
        <div class="card-header text-center text-white bg-dark">Sign Up</div>
        <div class="card-header">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            placeholder="Enter email"
            #userEmail
            required
            />
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            placeholder="Password"
            #userPwd
            required>
          </div>

          <div class="form-group">
            <div class="text-center">
              <button
                type="submit"
                class="btn btn-secondary btn-block"
                (click)="apiService.SignUp(userEmail.value, userPwd.value)"
              >
                Sign Up
              </button>
            </div>
          </div>

          <div class="form-group">
            <div class="text-center">
              <span class="or"
                ><span class="orInner">
                  <i class="fas fa-minus"></i> Or
                  <i class="fas fa-minus"></i></span
              ></span>
            </div>
          </div>


          <div class="form-group">
            <button
              type="button"
              class="btn btn-danger btn-block"
              (click)="apiService.GoogleAuth()"
            >
              <i class="fab fa-google-plus-g"></i>
              Continue with Google
            </button>
          </div>

          <div class="form-group">
            <button
              type="button"
              class="btn btn-info btn-block"
              (click)="apiService.FacebookAuth()"
            >
              <i class="fab fa-facebook"></i>
              Continue with Facebook
            </button>
          </div>

          <div class="form-group">
            <button
              type="button"
              class="btn btn-dark btn-block"
              (click)="apiService.GithubAuth()"
            >
              <i class="fab fa-github"></i>
              Continue with Github
            </button>
          </div>

        </div>
      </div>

      <div class="card-header text-center">
        <div class="redirectToLogin">
          <span
            > Already have an account? </span>
            <button
            type="button"
            class="btn btn-outline-dark"
            routerLink="/sign-in"
          >
            Sign In
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
</html>
